.devcontainer.json merge=theirs
package.json merge=theirs
.husky/pre-commit merge=theirs
.tool-versions merge=theirs
CONTRIBUTING.md merge=theirs
.env.example merge=theirs
yarn.lock merge=theirs

README.md merge=ours

#keep ours if conflict (Some attributes are different in each challenge)
.gitattributes merge=ours
packages/snfoundry/.gitattributes merge=ours
packages/nextjs/.gitattributes merge=ours